.banner{
    background-image: url(./image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: purple;
    padding: 20%;
}
.circle{
    display: inline-block;
    border-radius: 50%;
    width: 10rem;
    margin: auto;
    height: 10rem;
    color: #fff;
    background-color: #dc3545;
    position: relative;
}
.fa-solid{
    position: absolute;
    left: 2.2rem;
    top: 2rem;
}
.product-img{
    object-fit: cover;
}
.team img{
   width: 250px; 
   border: 10px solid #cccccc;
}
.social{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:#333 ;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    margin: auto 3px;
}